<div class="relative w-full h-full">
  <div
    (mousedown)="startDrag($event)"
    (mouseleave)="endDrag()"
    (mousemove)="onDrag($event)"
    (mouseup)="endDrag()"
    (touchend)="endDrag()"
    (touchmove)="onDrag($event)"
    (touchstart)="startDrag($event)"
    class="overflow-hidden"
  >
    <div
      [class.transition-transform]="!isDragging()"
      [style.transform]="'translateX(' + translateX() + 'px)'"
      class="flex"
    >
      <ng-content />
    </div>
  </div>
  <button
    (click)="prev()"
    class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/60 text-white px-3 py-2 rounded-full opacity-20"
  >
    ‹
  </button>
  <button
    (click)="next()"
    class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/60 text-white px-3 py-2 rounded-full opacity-20"
  >
    ›
  </button>
  <div class="flex justify-center mt-4 gap-2">
    @for (index of slideIndexes(); track index) {
      <div
        (click)="goTo($index)"
        [class.bg-blue-500]="$index === currentIndex()"
        [class.bg-gray-300]="$index !== currentIndex()"
        class="h-2 w-2 rounded-full cursor-pointer transition-all"
      ></div>
    }
  </div>
</div>

