<body>
<div class="relative min-h-screen bg-linear-to-br from-purple-100 to-blue-200">

  <div class="absolute inset-0 flex items-center justify-center">
    <div class="
        w-full sm:w-1/3
    mx-4 sm:mx-0
    bg-white/40 backdrop-blur-md
    rounded-2xl p-6
    shadow-lg border border-white/50
    space-y-2 sm:space-y-4 lg:space-y-6
      ">
      <p class="text-gray-700">We sit together Mountain and I until the only Mountain remains</p>
      <app-carousel>
        @for (image of galleryImages; track image) {
          <div #slide class="min-w-full p-4">
            <img
              [src]="image.src"
              alt="image"
              class="w-full rounded-2xl pointer-events-none select-none"
              draggable="false" />
          </div>
        }
      </app-carousel>
    </div>
  </div>
</div>
</body>
